@charset "UTF-8";
/* mystyle05.css */

/* 참조 05_다양한selector.html */
/* https://www.w3schools.com/cssref/css_selectors.php */

p{
    font-family: 궁서체;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    background-color: yellow;
}

div p { /*<div>안에 있는 모든 <p>*/
    background-color: red;
} 
